<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/app.css" />
    <title>student dormitory</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="header-title">ثبت خوابگاه های دانشگاه ایلام</h1>
      </div>

      <div class="mian">
        <div class="information-user">
          <span class="label">نام کاربری :</span>
          <span class="label-value">مبین</span>
        </div>
        <div class="information-user">
          <span class="label">فامیل :</span>
          <span class="label-value">عبدی</span>
        </div>
        <div class="information-user">
          <span class="label">کد دانشجویی :</span>
          <span class="label-value">1234567890</span>
        </div>

        <div class="information-user">
          <span class="label">کد ملی :</span>
          <span class="label-value">1234567890</span>
        </div>
      </div>

        <div class="dormitory-wrapper">

            <div class="dormitory-1">

                <div id="dormitory" class="dormitory-tilte">
                    <p class="dormitory-text">خوابگاه</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" id="chevron-1" class="chevron-left ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                      </svg>

                </div>

                <div id="dormitory-name" class="dormitory-content">
                    <ul class="dormitory-list">
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">اختیار زاده</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">مطهری</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">رمزیار</a>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- ;kflasjfklasf -->

            <div class="dormitory-1">

                <div id="floor" class="dormitory-tilte">
                    <p class="dormitory-text">طبقه ها</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" id="chevron-2" class="chevron-left ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                      </svg>

                </div>

                <div id="floor-name" class="dormitory-content">
                    <ul class="dormitory-list">
                        <li class="dormitory-item">
                            <a href="#" id="floor-one" class="dormitory-link">طبقه اول</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" id="floor-two" class="dormitory-link">طبقه دوم</a>
                        </li>



                    </ul>
                </div>

                <!-- dkgjlakgjalsjglas -->
            </div>
            <div class="dormitory-1">

                <div id="rooms" class="dormitory-tilte">
                    <p class="dormitory-text">اتاق ها</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" id="chevron-3" class="chevron-left ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                      </svg>

                </div>

                <div id="rooms-name-1"class="dormitory-content " >
                    <ul class="dormitory-list">
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">101</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">102</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">103</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">104</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">105</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">106</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">107</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">108</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">109</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">110</a>
                        </li>

                    </ul>
                </div>

                <div id="rooms-name-2" class="dormitory-content rooms-name-none">
                    <ul class="dormitory-list">
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">201</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">202</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">203</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">204</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">205</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">206</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">207</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">208</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">209</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">210</a>
                        </li>

                    </ul>
                </div>

                <!-- dkgjlakgjalsjglas -->
            </div>

            <div class="dormitory-1">

                <div id="Capacity" class="dormitory-tilte">
                    <p class="dormitory-text">ظرفیت </p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" id="chevron-4" class="chevron-left ">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                      </svg>

                </div>

                <div id="Capacity-name" class="dormitory-content">
                    <ul class="dormitory-list">
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">4 نفره</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">5 نفره</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">6 نفره</a>
                        </li>
                        <li class="dormitory-item">
                            <a href="#" class="dormitory-link">8 نفره</a>
                        </li>
                    </ul>
                </div>

                <!-- dkgjlakgjalsjglas -->
            </div>

        </div>

            <div class="btn">
                <a class="btn-link" href="#"> ثبت همه موارد </a>
            </div>
    </div>
      </div>


    </div>

    <script src="scipts/app.js"></script>
  </body>
</html>
